.main {
  position: relative;
  padding: 16px 24px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(53, 53, 53, 0.3);
    border-radius: 4px;
    height: 8px;
  }
}
